#venv\Scripts\activate
fastapi
uvicorn
sqlalchemy
python-dotenv
groq
langchain
langchain-groq
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pydantic
python-multipart
aiofiles
httpx
beautifulsoup4
requests
streamlit
plotly
pandas